{{!-- <div>
    {{#if usuarios}}
        <ul>
            {{#each usuarios}}
                    <li>{{nombre}}</li>                
            {{/each}}
        </ul>
    {{#else}}
    <p>No hay usuarios</p>
    {{/if}}
    <p>Hola</p>
</div> --}}

<div class="divPrincipal">
    {{#each usuarios}}
        <li>{{nombre}}</li>
    {{/each}}
</div>